<ons-page>
  <ons-toolbar></ons-toolbar>
  <div class="content">
    <div style="text-align: center; vertical-align:center; height: 100%; margin-top: 40vh;" *ngIf="!atLeastOne()">
    <ons-button (click)="sendDiscover()">Réessayer</ons-button>
  </div>
    <ons-list style="min-height : 100%" *ngIf="atLeastOne()">
        <div *ngFor="let maquette of maquettes; ">
          <ons-card >
            <div>
              <app-maquette-card [data]="maquette"></app-maquette-card>
            </div>
          </ons-card>
        </div>
      <ons-list-item expandable>
        Changer de pattern global
        <div class="expandable-content">
          <ons-list-item *ngFor="let c of chenillards" tappable (click)="sendMsg('knx/action','on', c)">
            {{c.maquetteOrder}} : {{c.pattern}}</ons-list-item>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="row">
        <div class="col" style="text-align: center">
        <ons-range modifier="material" [(value)]="value" (change)="sendMsg('knx/action','speed', (value))">
        </ons-range><br> Speed : {{value}}<br>
      </div>
      <div class="col" style="text-align:center">
        <ons-button modifier="outline" (click)="sendMsg('knx/action','reverse', null)">Reverse</ons-button>
        <ons-button modifier="outline" (click)="sendMsg('knx/action','off', null)">Stop</ons-button>
        </div>
        <div class="col">
        </div>
      </div>
      </ons-list-item>
    </ons-list>
  </div>
  <ons-fab ripple position="bottom right">
    <ons-icon icon="md-plus" (click)="actionSheet.show(); "></ons-icon>
  </ons-fab>
</ons-page>


<ons-action-sheet #actionSheet cancelable [attr.animation]="animation">
  <div class="action-sheet-mask"></div>
  <div class="action-sheet">
    <div *ngIf="choseMaquette">
      <div class="action-sheet-title">Choisissez l'ordre des maquettes</div>
      <div *ngFor="let item of ipConnected;">
        <ons-action-sheet-button icon="md-square-o" (click)="choseChenillard(item)">Maquette {{item}}
        </ons-action-sheet-button>
      </div>
    </div>
    <div *ngIf="!choseMaquette">
      <div class="action-sheet-title">Choisissez l'ordre du chenillard à ajouter</div>
      <div *ngFor="let item of order;">
        <ons-action-sheet-button icon="md-square-o" (click)="choseChenillard(item)">Lampe {{item}}
        </ons-action-sheet-button>
      </div>
    </div>
    <ons-action-sheet-button icon="md-close" (click)="actionSheet.hide()">Cancel</ons-action-sheet-button>

  </div>
</ons-action-sheet>