<ons-page>
  <ons-toolbar></ons-toolbar>
  <div class="content">
      <ons-list style="min-height : 100%">
            <ons-row>
    <div *ngFor="let maquette of maquettes; ">
      <ons-card>
      <div>
        <app-maquette-card [data]="maquette"></app-maquette-card>
      </div>
    </ons-card>
  </div>
    </ons-row>
    <ons-list-item expandable>
        Changer de pattern global
        <div class="expandable-content">
            <ons-list-item *ngFor="let c of chenillards" tappable (click)="sendMsg('knx/action','on', c)">{{c.maquetteOrder}} : {{c.chenillardOrder}}</ons-list-item>
   </div></ons-list-item>
  </ons-list>
</div>
    <ons-fab ripple position="bottom right">
      <ons-icon icon="md-plus" (click)="actionSheet.show(); "></ons-icon>
    </ons-fab>
</ons-page>


<ons-action-sheet #actionSheet cancelable [attr.animation]="animation">
  <div class="action-sheet-mask"></div>
  <div class="action-sheet">
    <div *ngIf="choseMaquette">
      <div class="action-sheet-title">Choisissez l'ordre des maquettes</div>
      <div *ngFor="let item of makettes;">
      <ons-action-sheet-button icon="md-square-o" (click)="choseChenillard(item)">Maquette {{item}}</ons-action-sheet-button>
      </div>
    </div>
  <div *ngIf="!choseMaquette">
    <div class="action-sheet-title">Choisissez l'ordre du chenillard à ajouter</div>
    <div *ngFor="let item of order;">
    <ons-action-sheet-button icon="md-square-o" (click)="choseChenillard(item)">Lampe {{item}}</ons-action-sheet-button>
    </div>
  </div>
    <ons-action-sheet-button icon="md-close" (click)="actionSheet.hide()">Cancel</ons-action-sheet-button>
    
  </div>
</ons-action-sheet>
              