  <ons-toolbar>
    <div class="left">
        <ons-button *ngIf="router.url=='/main'" modifier="outline" (click)="router.navigateByUrl('/maquette');">Details</ons-button>
        <ons-button *ngIf="router.url!='/main'" modifier="outline" (click)="router.navigateByUrl('/main');">Back</ons-button>
    </div>
    <div class="center" style="text-align: center;">ResIoT</div>
    <div class="right" style="margin-right : 5%">
      <ons-icon (click)="confirm()" icon="md-delete" size="24px"></ons-icon>
    </div>
  </ons-toolbar>
